.pm420-product{
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 5px;
}

.pm420-product-img{
  border-radius: 5px 5px 0px 0px;
}


.pm420-product-nav{	
	margin-left: 1%;
	height:99%;
	margin-top: 1%;
}

.pm420-product-btn{
	border: none;
	background: none;
	padding: 3px 6px; 
}

.pm420-product-btn:focus{

	border: none;
	background: none;
	padding: 3px 6px; 

}

.pm420-product-btn:hover{
	border: none;
	background: none;
	padding: 3px 6px;
    color: #19b141; /*Verde*/
}

.pm420-logo{
	padding: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}


